$white: #FFFFFF;
$black: #000000;

$gray500: #2b3f57;
$gray400: #8694A7;
$gray300: #BAC5D3;
$gray200: #E4EBF4;

$red: #FF5358;

$green: #11D799;

$violet: #754EFF;

$blue500: #2ED0F5;
$blue100: #FCFDFE;
